<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>upload demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">文件上传 demo</h1>

        <div class="columns">
            <div class="column">
                <form>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input id="name" class="input" name="name" type="text" placeholder="name" value="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="file has-name is-fullwidth">
                            <label class="file-label">
                                <input id="file" name="file" class="file-input" multiple="multiple" type="file">
                                <span class="file-cta">
                                  <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                  </span>
                                  <span class="file-label">
                                    Choose a file…
                                  </span>
                                </span>
                                <span id="filesName" class="file-name"></span>
                            </label>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <p class="control">
                            <a id="submit" class="button is-primary">Submit </a>
                        </p>
                        <p class="control">
                            <input id="cancel" class="button is-light" type="reset" value="Cancel">
                        </p>
                    </div>


                    <figure class="image is-128x128">
                        <canvas id="canvas"></canvas>
                        <img id="preview" src="" />
                    </figure>
                </form>
            </div>
            <div class="column"></div>
        </div>
    </div>


</section>

<script>
    window.onload = function () {
        const fileElem = document.getElementById('file');
        const filesNameElem = document.getElementById('filesName');
        const submitElem = document.getElementById('submit');
        const cancelElem = document.getElementById('cancel');
        const nameElem = document.getElementById('name');

        fileElem.onchange = function (event) {
            console.log(event);
            const filesName = [];
            readImage(event.target.files[0]);
            for (const file of event.target.files) {
                filesName.push(file.name);
            }
            filesNameElem.innerText = filesName.join(',');
        };

        function cancel () {
            filesNameElem.innerText = '';
            nameElem.value = '';
        }

        cancelElem.onclick = cancel;

        submitElem.onclick = function (event) {
            submitElem.setAttribute('disabled', true);
            const name = nameElem.value;
            const files = fileElem.files;

            const formData = new FormData();
            formData.append('name', name);
            for (const file of files) {
                formData.append('files', file);
            }
            fetch('/api/upload', { body: formData, method: 'POST' })
                .then((response) => response.json())
                .then((result) => {
                    console.log(result);
                    cancel();
                })
                .catch((error) => {
                    console.error(error);
                })
                .then(() => {
                    submitElem.removeAttribute('disabled')
                })
        };

        function readImage (file) {
            if (!/image\/\w+/.test(file.type)) {
                return;
            }
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (event) {
                drawToCanvas(this.result);
            }
        }

        function drawToCanvas (imgData) {
            const canvas = document.getElementById('canvas');
            canvas.width = 128;
            canvas.height = 128;
            const ctx = canvas.getContext('2d');
            const img = new Image;
            img.src = imgData;
            img.onload = function () {
                ctx.drawImage(img, 0, 0, 128, 128);
                document.getElementById('preview').setAttribute('src', canvas.toDataURL())
            }
        }
    }
</script>
</body>
</html>